<div class='fm'>
    <div class='summary'>
        <div class='container'>
            <img
                class='background'
                alt='selected'
                src={{this.fm.selectedPicture}}
                {{did-insert this.setPictureMove}}
            />
        </div>
        <div class='total'>共<em>{{this.fm.totalIllusts}}</em>位画师所作的<em
            >{{this.fm.totalPictures}}</em>张图片正受到PICT的管理。
        </div>
    </div>
    <Fm::SearchBar />
    <hr />
    <div class='pictures'>
        {{#each this.fm.pictures as |picture|}}
            <Fm::PicturePreview @picture={{picture}} />
        {{/each}}
    </div>
</div>