<Pixcrawl::Pbar @highlight="index" />
<div class="main index" {{did-insert this.recieveIndexResults}}>
    <Pixcrawl::Progress @count={{this.indexResults.count}} @total={{this.indexResults.total}} />
</div>
<Pixcrawl::SideNav @prevRoute="pixcrawl.search" @back={{this.back}} @nextRoute="pixcrawl.download"
    @continue={{this.continue}} />