<Pixcrawl::Pbar @highlight="search" />
<div class="main search" {{did-insert this.recieveSearchResults}}>
    <Pixcrawl::Progress @count={{this.searchResults.count}} @total={{this.searchResults.total}} />
    <div class="results">
        {{#each this.searchResults.searchResults as |searchRes index|}}
        {{#if (eq searchRes.type "uid")}}
        <Pixcrawl::UidResult @uidResult={{searchRes}} @index={{index}} />
        {{else if (eq searchRes.type "tag")}}
        <Pixcrawl::TagResult @tagResult={{searchRes}} @index={{index}}/>
        {{/if}}
        {{/each}}
    </div>
</div>

<Pixcrawl::SideNav @prevRoute="pixcrawl.keyword" @back={{this.back}} @nextRoute="pixcrawl.index"
    @continue={{this.continue}} />