<button class="mainpage-item" id="{{@index}}-mainpage-item" type="button"
    {{on "mouseenter" this.showDesc}} {{on "mouseleave" this.hideDesc}}
    {{on "click" this.animate}}>
    <Mainpage::LineFocus />
    <Mainpage::SlashText @content={{@content}} />
</button>