<button type="button" class="
    diamond
    diamond-{{@title-position}}
    {{if @focused "diamond-focus"}}"
    id="diamond-{{@index}}"
    {{on "mouseenter" (fn this.scaleUp @index)}}
    {{on "mouseleave" (fn this.scaleDown @index)}}
    {{on "click" (fn this.show @index)}}>
    <div class="title">{{@title}}</div>
    <div class="outer" />
    <div class="inner" />
    <div class="cancel" />
</button>