<div class="input-box">
    <Pixcrawl::TagDragdown @tag={{@tag}} @index={{@index}} @tags={{@tags}} />
    <input type="text" contenteditable="true" {{on "input" (fn this.changeWidth @index @tags)}} {{on "blur" (fn
           this.changeWidth @index @tags)}} {{did-insert (fn this.fillWith @kwd @index)}} ...attributes>
    {{yield}}
</div>
