<div class="pixcrawl">
    {{!-- steps topbar --}}
    <div class="steps">
        <button type="button" class="step {{if this.steps.keyword " step-current"}}" {{on "click" (fn this.goBack 0)}}>
            <div class="title-up">Keyword</div>
            <div class="diamond" />
        </button>
        <div class="join" />
        <button type="button" class="step {{if this.steps.search " step-current"}}" {{on "click" (fn this.goBack 1)}}>
            <div class="diamond" />
            <div class="title-down">Search</div>
        </button>
        <div class="join" />
        <button type="button" class="step {{if this.steps.crawl " step-current"}}" {{on "click" (fn this.goBack 2)}}>
            <div class="title-up">Crawl</div>
            <div class="diamond" />
        </button>
        <div class="join" />
        <button type="button" class="step {{if this.steps.download " step-current"}}" {{on "click" (fn this.goBack 3)}}>
            <div class="diamond" />
            <div class="title-down">Download</div>
        </button>
    </div>

    {{!-- keyword step --}}
    <div class="keyword" style={{html-safe (concat "display: " (if (ifStep this.steps "keyword" ) "flex" "none" ))}}>
        <div class="main">
            <h2>Keywords - </h2>
            {{#each this.keywords as |kwd|}}
            <div class="tag-item" {{on "animationend" (fn this.cancelTagHighlight kwd.index)}}>
                <button class="tag-name" type="button" {{on "click" (fn this.showDropdown
                    kwd.index)}}>{{kwd.type}}</button>
                <div class="tag-dropdown" {{on 'mouseleave' (fn this.hideDragdown kwd.index)}}>
                    {{#each kwd.dropdown as |dropdownItem|}}
                    <button class="dropdown-item" type="button" {{on "click" (fn this.changeTag dropdownItem.tag
                        kwd.index)}}>
                        <span class="tag-icon">{{dropdownItem.tag}}</span>
                        <span class="tag-desc">{{dropdownItem.desc}}</span>
                    </button>
                    {{/each}}
                </div>
                <input aria-label="input tag content" spellcheck="false" {{on "input" (fn this.changeInputWidth
                    kwd.index)}} {{did-insert (fn this.fillTagContent kwd.index)}}>
                <button type="button" class="close-tag" {{on "click" (fn this.removeTag kwd.index)}}>
                    <Icons::CrossX />
                </button>
            </div>
            {{/each}}
            <div class="add-tags">
                <span>Add new searching options by clicking </span>
                <button type="button" {{on "mouseenter" this.showTagsIcon}} {{on "mouseleave" this.hideTagsIcon}}
                    {{on "click" this.addTags}}>
                    <Icons::Tag />
                    <Icons::Tags />
                </button>
            </div>
        </div>
        <div class="bottom-nav">
            <button type="button" {{on "click" this.goToSearch}}>
                <span>Search</span>
                <Icons::AnglesRight />
            </button>
        </div>
    </div>

    {{!-- search step --}}
    <div class="search" style={{html-safe (concat "display: " (if (ifStep this.steps "search" ) "flex" "none" ))}}>
        <div class="progress">
            <h2>Total Progress</h2>
            <div class="search-target">
                {{!-- Changed by JS(while WebSocket recieves message) --}}
                Starting...
            </div>
            <div class="bar-content">
                <div class="bar-bg" />
                <div class="bar" style={{html-safe (concat "width: " (mul 600 (div this.searchProgress.searchCnt (if
                    this.searchResults.length this.searchResults.length 1))) "px" )}} />
                <div class="percent">{{mul 100 (div this.searchProgress.searchCnt (if this.searchResults.length
                    this.searchResults.length 1))}}%</div>
            </div>
            <div class="abstract">
                {{!-- xxx tags, xxx user names, xxx picture ids... --}}
                {{!-- <span>10</span> tags. --}}
                {{!-- Unknown Emberjs bugs for removing children, use traditional JS instead... --}}]
            </div>
            <div class="abstract-progress">
                {{#if this.searchProgress.success}}
                <span class="completed">{{this.searchProgress.success}}</span> completed.
                {{/if}}
                {{#if this.searchProgress.failure}}
                <span class="failed">{{this.searchProgress.failure}}</span> failed.
                {{/if}}
            </div>
        </div>
        <ul class="contents">
            {{#each this.keywords as |kwd idx|}}
            {{#let (get this.searchResults idx) as |result|}}
            {{#if result.elementState.display}}
            <li>
                <div class="search-keyword">
                    <div class="value">{{kwd.value}}</div>
                    <div class="type">{{kwd.type}}</div>
                </div>
                {{#if result.success}}
                {{#if result.elementState.searching}}
                <Icons::Hourglass />
                {{else}}
                <button type="button" {{on "click" (fn this.toggleDetailedSearchResult idx)}}>
                    {{#if result.elementState.expand}}
                    <Icons::TriangleRight class="triangle-down" />
                    {{else}}
                    <Icons::TriangleRight />
                    {{/if}}
                </button>
                {{/if}} {{!-- End of if result.elementState.searching --}}
                {{else}}
                <button type="button">
                    <Icons::TriangleRight />
                </button>
                {{/if}} {{!-- End of if result.success --}}
                <div class="search-result">
                    {{#if result.success}}
                    {{#if (eq kwd.type "uid")}}
                    <div class="result-abstract">
                        <img alt="avatar" src={{result.avatar}} />
                        <div class="value">{{result.uname}}</div>
                        <div class="type">uname</div>
                        <button class="delete" type="button" {{on "click" (fn this.deleteSearchOption idx)}}>
                            <Icons::CrossX />
                        </button>
                    </div>
                    {{#if result.elementState.expand}}
                    <div class="result-extended">
                        <div class="previews">
                            <h3>Previews</h3>
                            <div class="preview-imgs">
                                {{#each result.pictures as |picture|}}
                                <img alt={{picture.title}} title={{picture.title}} src={{picture.content}} />
                                {{/each}}
                            </div>
                        </div>
                        <div class="tags">
                            <h3>Featured Tags</h3>
                            <div class="tag-contents">
                                {{#each result.tags as |tag|}}
                                {{#if (inSearchTags this.keywords this.searchResults tag idx)}}
                                <span class="tag-included">#{{tag}}<span>✓</span></span>
                                {{else}}
                                <button class="tag-new" type="button" {{on "click" (fn this.addNewTagInSearch
                                    tag)}}>#{{tag}}<span>+</span>
                                </button>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/if}} {{!-- End of if result.expand --}}
                    {{else if (eq kwd.type "uname")}}
                    {{!-- Exceptionally, the results will be searched once. No extra extended searches. --}}
                    {{#if (not (get result "extended"))}}
                    {{#let (get result.value 0) as |head|}}
                    <div class="result-abstract">
                        <img alt="avatar" src={{head.avatar}} />
                        <div class="value">{{head.uname}}</div>
                        <div class="type">uname
                            <span>{{if (inSearchUids this.keywords this.searchResults head.uid idx) "✓"}}</span>
                        </div>
                        <div class="value-alt">{{head.uid}}</div>
                        <button class="delete" type="button" {{on "click" (fn this.deleteSearchOption idx)}}>
                            <Icons::CrossX />
                        </button>
                        {{!-- add or tick button... --}}
                        <button class="more" type="button" {{on "click" (fn this.toggleDetailedUserInfo idx 0)}}>
                            <Icons::AnglesRight />
                        </button>
                    </div>
                    {{#if result.elementState.expand}}
                    <div class="result-extended">
                        {{!-- template: ref on result-abstract --}}
                        {{#each result.value as |tail tailIndex|}}
                        {{#if (neq tailIndex 0)}}
                        <div class="candidate">
                            <div class="result-itembg"></div>
                            <img alt="avatar" src={{tail.avatar}} />
                            <button type="button" class="value" {{on "click" (fn this.selectCandidate idx
                                tailIndex)}}>{{tail.uname}}</button>
                            <div class="type">uname</div>
                            <div class="value-alt">{{tail.uid}}</div>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                    {{/if}} {{!-- End of if result.expand --}}
                    {{/let}}
                    {{else}}
                    {{#let (get result.value result.extendIndex) as |extendedResult|}}
                    <div class="result-abstract">
                        <img alt="avatar" src={{extendedResult.avatar}} />
                        <div class="value">{{extendedResult.uname}}</div>
                        <div class="type">uname</div>
                        <div class="value-alt">{{extendedResult.uid}}</div>
                        <button class="delete" type="button" {{on "click" (fn this.deleteSearchOption idx)}}>
                            <Icons::CrossX />
                        </button>
                        <button class="back" type="button" {{on "click" (fn this.toggleDetailedUserInfo idx
                            result.extendIndex)}}>
                            <Icons::AnglesLeft />
                        </button>
                    </div>
                    {{#if result.elementState.expand}}
                    <div class="result-extended">
                        <div class="previews">
                            <h3>Previews</h3>
                            <div class="preview-imgs">
                                {{#each extendedResult.pictures as |picture|}}
                                <img alt={{picture.title}} title={{picture.title}} src={{picture.content}} />
                                {{/each}}
                            </div>
                        </div>
                        <div class="tags">
                            <h3>Featured Tags</h3>
                            <div class="tag-contents">
                                {{#each extendedResult.tags as |tag|}}
                                {{#if (inSearchTags this.keywords this.searchResults tag idx)}}
                                <span class="tag-included">#{{tag}}<span>√</span></span>
                                {{else}}
                                <button class="tag-new" type="button" {{on "click" (fn this.addNewTagInSearch
                                    tag)}}>#{{tag}}<span>+</span>
                                </button>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/if}} {{!-- End of if result.expand --}}
                    {{/let}}
                    {{/if}} {{!-- End of result.extended == false --}}
                    {{else if (eq kwd.type "tag")}}
                    <div class="result-abstract">
                        {{#let (get result.value result.extendIndex) as |head|}}
                        {{#if result.elementState.searching}} {{else}}
                        {{#if head.avatar}}
                        <img alt="avatar" src={{head.avatar}} />
                        {{/if}} {{!-- End of if head.avatar --}}
                        {{/if}}
                        <div class="value">#{{head.tag}}</div>
                        <div class="type">tag
                            <span>{{if (inSearchTags this.keywords this.searchResults head.tag idx) "✓"}}</span>
                        </div>
                        {{#if head.translation}}
                        <div class="value-alt">#{{head.translation}}</div>
                        {{/if}}
                        <button class="delete" type="button" {{on "click" (fn this.deleteSearchOption idx)}}>
                            <Icons::CrossX />
                        </button>
                        {{/let}} {{!-- End of let head = result.value[0] --}}
                    </div>
                    {{#if result.elementState.expand}}
                    <div class="result-extended">
                        <div class="tags">
                            <h3>Related Tags</h3>
                            <div class="tag-contents-tags">
                                {{#each result.value as |tag tagIdx|}}
                                {{#if (neq tagIdx 0)}}
                                <div class="tag-contents-tag">
                                    {{#if (inSearchTags this.keywords this.searchResults tag.tag idx)}}
                                    <span class="tag-included">#{{tag.tag}}<span>✓</span></span>
                                    {{else}}
                                    <button class="tag-new" type="button" {{on "click" (fn this.selectCandidate idx
                                        tagIdx)}}>#{{tag.tag}}<span>+</span>
                                    </button>
                                    {{/if}}
                                    {{#if tag.translation}}
                                    <div class="value-alt">#{{tag.translation}}</div>
                                    {{/if}}
                                </div>
                                {{/if}} {{!-- End of tagIdx != 0 --}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{else if (eq kwd.type "pid")}}
                    <div class="result-abstract">
                        <img alt="avatar" title="click to see origin" src={{result.avatar}} role="button" {{on "click"
                            (fn this.openOriginalPicture idx)}}>
                        {{#if result.elementState.originalPicture}}
                        <div class="floating-window">
                            <img alt="original" src={{result.original}} title={{result.pname}} />
                            <div class="value-pname">{{result.pname}}</div>
                            <div class="value-userinfo">
                                Created by: <span>{{result.author.uname}}</span>(uid:
                                <span>{{result.author.uid}}</span>)
                            </div>
                            <button type="button" {{on "click" (fn this.closeOriginalPicture idx)}}>
                                <Icons::CrossX />
                            </button>
                        </div>
                        {{/if}}
                        <div class="value">{{result.pname}}</div>
                        <div class="type">pname</div>
                        <button class="delete" type="button" {{on "click" (fn this.deleteSearchOption idx)}}>
                            <Icons::CrossX />
                        </button>
                    </div>
                    {{#if result.elementState.expand}}
                    <div class="result-extended">
                        <div class="author">
                            <h3>Illustrator</h3>
                            <div class="author-contents">
                                <img alt="avatar" src={{result.author.avatar}} />
                                <div class="value">{{result.author.uname}}</div>
                                <div class="type">uname
                                    <span>{{if (inSearchUids this.keywords this.searchResults result.author.uid idx)
                                        "✓"}}</span>
                                </div>
                                <div class="value-alt">{{result.author.uid}}</div>
                            </div>
                        </div>
                        <div class="tags">
                            <h3>Tags</h3>
                            <div class="tag-contents">
                                {{#each result.tags as |tag|}}
                                {{#if (inSearchTags this.keywords this.searchResults tag idx)}}
                                <span class="tag-included">#{{tag}}<span>√</span></span>
                                {{else}}
                                <button class="tag-new" type="button" {{on "click" (fn this.addNewTagInSearch
                                    tag)}}>#{{tag}}<span>+</span>
                                </button>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/if}} {{!-- End of kwd.type == ... --}}
                    {{else}}
                    <div class="result-abstract">
                        <div class="value">No result found</div>
                    </div>
                    {{/if}} {{!-- End of if !reuslt.success --}}
                </div>
            </li>
            {{/if}} {{!-- End of if result.display --}}
            {{/let}} {{!-- End of let result = searchResults[i] --}}
            {{/each}}
        </ul>
        <div class="bottom-nav">
            {{#if (eq this.searchProgress.searchCnt this.keywords.length)}}
            <button type="button" {{on "click" (fn this.goBack 0)}}>
                <Icons::AnglesLeft />
                <span>Keyword</span>
            </button>
            <div class="seperator"></div>
            <button type="button" {{on "click" this.goToCrawl}}>
                <span>Crawl</span>
                <Icons::AnglesRight />
            </button>
            {{/if}}
        </div>
    </div>

    <div class="crawl" style={{html-safe (concat "display: " (if (ifStep this.steps "crawl" ) "flex" "none" ))}}>
        <div class="progress">
            <h2>Total Progress</h2>
            <div class="search-target">
                {{!-- Changed by JS(while WebSocket recieves message) --}}
                Starting...
            </div>
            <div class="bar-content">
                <div class="bar-bg" />
                <div class="bar" style={{html-safe (concat "width: " (mul 600 (div this.crawlProgress.crawlCnt (if
                    this.searchResults.length this.searchResults.length 1))) "px" )}} />
                <div class="percent">{{mul 100 (div this.crawlProgress.crawlCnt (if this.searchResults.length
                    this.searchResults.length 1))}}%</div>
            </div>
            <div class="abstract">
                {{!-- xxx tags, xxx user names, xxx picture ids... --}}
                {{!-- <span>10</span> tags. --}}
                {{!-- Unknown Emberjs bugs for removing children, use traditional JS instead... --}}
            </div>
            <div class="abstract-progress">
                {{#if this.crawlProgress.success}}
                <span class="completed">{{this.crawlProgress.success}}</span> completed.
                {{/if}}
                {{#if this.crawlProgress.failure}}
                <span class="failed">{{this.crawlProgress.failure}}</span> failed.
                {{/if}}
            </div>
        </div>
        <ul>
            {{#each this.crawlResults as |result index|}}
            {{#if result.display}}
            <li>
                {{#let (get this.searchResults index) (get this.keywords index) as |result kwd|}}
                <div class="result-abstract">
                    {{#if (eq kwd.type "uid")}}
                    <img alt="avatar" src={{result.avatar}} />
                    <div class="value">{{result.uname}}</div>
                    <div class="type">uname</div>
                    <div class="value-alt">{{kwd.value}}</div>
                    {{else if (eq kwd.type "uname")}}
                    <img alt="avatar" src={{get (get result.value 0) "avatar" }} />
                    <div class="value">{{get (get result.value 0) "uname"}}</div>
                    <div class="type">uname</div>
                    <div class="value-alt">{{get (get result.value 0) "uid"}}</div>
                    {{else if (eq kwd.type "tag")}}
                    {{#if (get (get result.value 0) "avatar")}}
                    <img alt="avatar" src={{get (get result.value 0) "avatar" }} />
                    {{/if}}
                    <div class="value">{{get (get result.value 0) "tag"}}</div>
                    <div class="type">tag</div>
                    {{#if (get (get result.value 0) "translation")}}
                    <div class="value-alt">#{{get (get result.value 0) "translation"}}</div>
                    {{/if}}
                    {{else if (eq kwd.type "pid")}}
                    <img alt="avatar" src={{result.author.avatar}} />
                    <div class="value">{{result.author.uname}}</div>
                    <div class="type">uname</div>
                    <div class="value-alt">{{result.author.uid}}</div>
                    {{/if}}
                </div>
                <Icons::TriangleRight />
                {{/let}}
                <div class="result-abstract">
                    <div class="value">
                        <span>{{result.pics.length}}</span> Pictures
                    </div>
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        <div class="bottom-nav">
            {{#if (eq this.searchProgress.searchCnt this.keywords.length)}}
            <button type="button" {{on "click" (fn this.goBack 2)}}>
                <Icons::AnglesLeft />
                <span>Crawl</span>
            </button>
            <div class="seperator"></div>
            <button type="button" {{on "click" this.goToDownload}}>
                <span>Download</span>
                <Icons::AnglesRight />
            </button>
            {{/if}}
        </div>
    </div>

    <div class="download" style={{html-safe (concat "display: " (if (ifStep this.steps "download" ) "flex" "none" ))}}>

    </div>

    <div class="hint">
        <div class="topbar"></div>
        <div class="content" {{on "animationend" this.hideHint}}>
            Hello World!
            {{!-- insert hints by JS --}}
        </div>
    </div>
</div>