{{#if @prevRoute}}
{{!-- template-lint-disable no-invalid-link-text --}}
<button type="button" class="prev" {{on "click" @back}} {{on "mouseenter" this.togglePrev}} {{on "mouseleave" this.togglePrev}}>
    {{#if this.prev}}
    <Svg::CaretRightSolid />
    <div>前一步</div>
    <LinkTo aria-label="next" class="link-next" @route={{@prevRoute}} />
    {{/if}}
</button>
{{/if}}
{{#if @nextRoute}}
{{!-- template-lint-disable no-invalid-link-text --}}
<button type="button" class="next" {{on "click" @continue}} {{on "mouseenter" this.toggleNext}} {{on "mouseleave" this.toggleNext}}>
    {{#if this.next}}
    <Svg::CaretRightSolid />
    <div>下一步</div>
    <LinkTo aria-label="next" class="link-next" @route={{@nextRoute}} />
    {{/if}}
</button>
{{/if}}